In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load 
Pymoli = "/Users/kassyedwards/Desktop/PANDASHW/Pandas_HW_Pymoli.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(Pymoli)

In [3]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#gives total number of unique players
unique_players = purchase_data.groupby(["SN"]).nunique()
print(f"Unique Players: {len(unique_players)}")

Unique Players: 576

In [32]:
#number of unique items
unique_items= purchase_data.groupby(["Item ID"]).nunique()
print(f"Unique Items: {len(unique_items)}")

Unique Items: 183

In [33]:
#to get the average prices .mean() 
mean=purchase_data['Price'].mean()
mean

3.050987179487176

In [34]:
#Total purchases 
total_purchases= purchase_data.groupby(["Purchase ID"])
print(f"total_purchases: {len(total_purchases)}")

total_purchases: 780

In [35]:
#Total Revenue
total_revenue = purchase_data["Price"].sum()
print(f"total_revenue: ${total_revenue}")

total_revenue: $2379.77

In [36]:
analysis_df = pd.DataFrame ({
    "Number Unique Items":[len(unique_items)],
    "Mean Price":[(mean)],
    "Number of Purchases":[len(total_purchases)],
    "Total Revenue":[(total_revenue)]
    
})
analysis_df.head()

   Number Unique Items  Mean Price  Number of Purchases  Total Revenue
0                  183    3.050987                  780        2379.77

In [ ]:
#########

In [14]:
#count of gender
gender_count = purchase_data.groupby("Gender")["SN"].nunique()
gender_count

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [15]:
female_count=gender_count[0]
male_count=gender_count[1]
other_count=gender_count[2]

In [16]:
#percent of male, female, other players
percent = purchase_data["Gender"].value_counts("Male")
percent

Male                     0.835897
Female                   0.144872
Other / Non-Disclosed    0.019231
Name: Gender, dtype: float64

In [17]:
female_percent=percent[1]
male_percent=percent[0]
other_percent=percent[2]

In [ ]:
#need to make index say "percent" & "total count"
#need to round to 2 decimal places

In [38]:
#summary dataframe from gender
gender_df = pd.DataFrame ({
    "Female":[(female_percent), (female_count)],
    "Male":[(male_percent), (male_count)],
    "Other":[(other_percent),(other_count)]
            })
gender_df.head()

      Female        Male      Other
0   0.144872    0.835897   0.019231
1  81.000000  484.000000  11.000000

In [39]:
###########

In [60]:
gender_count2 = purchase_data.groupby("Gender").count()["Purchase ID"]
gender_count2
g2f=gender_count2[0]
g2m=gender_count2[1]
g2o=gender_count2[2]

In [53]:
average_purchase = purchase_data.groupby("Gender")["Price"].mean()
female_mean=average_purchase[0]
male_mean=average_purchase[1]
other_mean=average_purchase[2]

In [54]:
sum_purchase = purchase_data.groupby("Gender")["Price"].sum()
sum_purchase
sum_female=sum_purchase[0]
sum_male=sum_purchase[1]
sum_other=sum_purchase[2]

In [68]:
avg_per_person1=((sum_purchase)/(gender_count2))
avg_per_person10=avg_per_person1[0]
avg_per_person11=avg_per_person1[1]
avg_per_person12=avg_per_person1[2]

In [69]:
#need to label index as "avg purchase value","total purchase value", "gender count", "avg perchase per person"

In [125]:
analysis_gender_df=pd.DataFrame({
    "Female":[(female_mean), (sum_female), (g2f),(avg_per_person10)],
    "Male":[(male_mean),(sum_male),(g2m),(avg_per_person11)],
    "Other":[(other_mean),(sum_other),(g20),(avg_per_person12)]
})

analysis_gender_df

       Female         Male   Other
0    3.203009     3.017853   3.346
1  361.940000  1967.640000  50.190
2  113.000000   652.000000  15.000
3    3.203009     3.017853   3.346

In [ ]:
##########

In [71]:
#create bins from 0-46
bins = [0, 10, 18, 25, 35, 46]

# Create the names for the bins
group_names = ["0-10", "11-18", "19-25", "26-35", "36-46"]
purchase_data["Age of Player"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age of Player
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,19-25
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,36-46
2,2,Ithergue48,24,Male,92,Final Critic,4.88,19-25
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,19-25
4,4,Iskosia90,23,Male,131,Fury,1.44,19-25

In [24]:
#use the number in purchase ID to pull the 'total count' for the bins for new dataframe
y = purchase_data.groupby("Age of Player").count()["Purchase ID"]
y
yone=y[0]
ytwo=y[1]
ythree=y[2]
yfour=y[3]
yfive=y[4]

In [25]:
x = purchase_data.groupby("Age of Player")["Purchase ID"].count()/len(purchase_data)
x
one=x[0]
two=x[1]
three=x[2]
four=x[3]
five=x[4]

In [ ]:
#need to rename index with bins

In [26]:
xy_df=pd.DataFrame({
    "Percent":[(one),(two),(three),(four),(five)],
    "Count of Players":[(yone),(ytwo),(ythree),(yfour),(yfive)]

})
xy_df

    Percent  Count of Players
0  0.041026                32
1  0.169231               132
2  0.573077               447
3  0.165385               129
4  0.051282                40

In [ ]:
###########

In [27]:
#average price per group
avg_price=purchase_data.groupby("Age of Player").mean()["Price"]
avg_price
ap0=avg_price[0]
ap1=avg_price[1]
ap2=avg_price[2]
ap3=avg_price[3]
ap4=avg_price[4]
y
c0=y[0]
c1=y[1]
c2=y[2]
c3=y[3]
c4=y[4]
#total purchase value per group
purchase_value=purchase_data.groupby("Age of Player").sum()["Price"]
purchase_value
pv0=purchase_value[0]
pv1=purchase_value[1]
pv2=purchase_value[2]
pv3=purchase_value[3]
pv4=purchase_value[4]
#avg total per person

avg_per_person=((purchase_value)/(y))
avp0=avg_per_person[0]
avp1=avg_per_person[1]
avp2=avg_per_person[2]
avp3=avg_per_person[3]
avp4=avg_per_person[4]

In [ ]:
#need to assign bins as index

In [31]:
xy_df=pd.DataFrame({
    "Purchase Count":[(c0),(c1),(c2),(c3),(c4)],
    "Avg Purchase Price":[(ap0),(ap1),(ap2),(ap3),(ap4)],
    "Total Purchase Value":[(pv0),(pv1),(pv2),(pv3),(pv4)],
    "Avg Total Purchase Per Person":[(avp0),(avp1),(avp2),(avp3),(avp4)]

})
xy_df

,Purchase Count,Avg Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
0,32,3.405000,108.96,3.405000
1,132,2.983788,393.86,2.983788
2,447,3.055794,1365.94,3.055794
3,129,2.923488,377.13,2.923488
4,40,3.347000,133.88,3.347000

In [ ]:
################

In [134]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age of Player
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,19-25
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,36-46
2,2,Ithergue48,24,Male,92,Final Critic,4.88,19-25
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,19-25
4,4,Iskosia90,23,Male,131,Fury,1.44,19-25

In [151]:
#purchase count
purchase_groups= purchase_data.groupby(["SN"])
purchase_totals = purchase_groups["Price"].count()
purchase_totals_sorted= purchase_totals.sort_values(axis=0, ascending=False)
purchase_totals_sorted_pd=pd.DataFrame
purchase_totals_sorted.head()

SN
Lisosia93      5
Iral74         4
Idastidru52    4
Aina42         3
Iri67          3
Name: Price, dtype: int64

In [140]:
#Average Purchase Price
avg_pur_count = purchase_groups["Price"].mean()

#Total Purchase Value
total_pur_value = purchase_groups["Price"].sum()

In [141]:
top_spenders = pd.DataFrame({
    
    "Purchase Count": purchase_totals_sorted,
    'Average Purchase Price':avg_pur_count,
    'Total Purchase Value': total_pur_value,
})
top_spender_sorted = top_spenders.sort_values('Total Purchase Value', ascending=False).head()
top_spender_sorted

             Purchase Count  Average Purchase Price  Total Purchase Value
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

In [138]:
###########

In [142]:
item_df=purchase_data.groupby(["Item ID", "Item Name"])

In [227]:
i_price = item_df["Price"].first()
i_count = item_df["Item Name"].count()

In [232]:
item_results = pd.DataFrame({"Purchase Count": i_count, "Item Price": i_price, "Total Purchase Value": i_price * i_count})

In [237]:
item_results.sort_values(by="Purchase Count", ascending=False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16