In [118]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load 
Pymoli = "/Users/kassyedwards/Desktop/PANDASHW/Pandas_HW_Pymoli.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(Pymoli)

In [119]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [120]:
unique_players = purchase_data.groupby(["SN"]).nunique()
print(f"Unique Players: {len(unique_players)}")

Unique Players: 576

In [121]:
#to get the average prices .mean() 
mean=purchase_data['Price'].mean()
mean

3.050987179487176

In [122]:
#Total purchases 
total_purchases= purchase_data.groupby(["Purchase ID"])
print(f"total_purchases: {len(total_purchases)}")

total_purchases: 780

In [123]:
#Total Revenue
total_revenue = purchase_data["Price"].sum()
print(f"total_revenue: ${total_revenue}")

total_revenue: $2379.77

In [124]:
analysis_df = pd.DataFrame ({
    "Number Unique Items":[len(unique_players)],
    "Mean Price":[(mean)],
    "Number of Purchases":[len(total_purchases)],
    "Total Revenue":[(total_revenue)]
    
})
analysis_df.head()

   Number Unique Items  Mean Price  Number of Purchases  Total Revenue
0                  576    3.050987                  780        2379.77

In [125]:
#count of gender
gender_count = purchase_data.groupby("Gender")["SN"].nunique()
gender_count

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [126]:
female_count=gender_count[0]
male_count=gender_count[1]
other_count=gender_count[2]

In [129]:
#percent of male, female, other players
percent = purchase_data["Gender"].value_counts("Male")
percent

Male                     0.835897
Female                   0.144872
Other / Non-Disclosed    0.019231
Name: Gender, dtype: float64

In [ ]:
female_percent=percent[1]
male_percent=percent[0]
other_percent=percent[2]

In [130]:
#summary dataframe from gender
gender_df = pd.DataFrame ({
    "Female":[(female_percent), (female_count)],
    "Male":[(male_percent), (male_count)],
    "Other":[(other_percent),(other_count)]
            })
gender_df.head()

      Female        Male      Other
0   0.144872    0.835897   0.019231
1  81.000000  484.000000  11.000000

In [131]:
average_purchase = purchase_data.groupby("Gender")["Price"].mean()
average_purchase

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [132]:
average_purchase = purchase_data.groupby("Gender")["Price"].mean()
female_mean=average_purchase[0]
male_mean=average_purchase[1]
other_mean=average_purchase[2]

In [133]:
average_purchase

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [134]:
sum_purchase = purchase_data.groupby("Gender")["Price"].sum()
sum_purchase

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [135]:
sum_female=sum_purchase[0]
sum_male=sum_purchase[1]
sum_other=sum_purchase[2]

In [223]:
total_purchases_gender= purchase_data.groupby("Gender)"["Purchase ID"]/(len(total_purchases_gender))
total_purchases_gender

SyntaxError: invalid syntax (<ipython-input-223-87d158cacecb>, line 2)

In [137]:
analysis_gender_df=pd.DataFrame({
    "Female":[(female_mean), (sum_female)],
    "Male":[(male_mean),(sum_male)],
    "Other":[(other_mean),(sum_other)]
})
analysis_gender_df

       Female         Male   Other
0    3.203009     3.017853   3.346
1  361.940000  1967.640000  50.190

In [138]:
#look at ages
purchase_data["Age"].value_counts().head()

20    99
22    70
24    67
23    67
21    62
Name: Age, dtype: int64

In [140]:
#create bins from 0-46
bins = [0, 10, 18, 25, 35, 46]

# Create the names for the bins
group_names = ["0-10", "11-18", "19-25", "26-35", "36-46"]

In [141]:
purchase_data["Age of Player"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age of Player
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,19-25
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,36-46
2,2,Ithergue48,24,Male,92,Final Critic,4.88,19-25
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,19-25
4,4,Iskosia90,23,Male,131,Fury,1.44,19-25

In [149]:
counts_age=purchase_data["Age of Player"].value_counts

In [172]:
purchase_data.groupby("Age of Player").mean()["Price"]

Age of Player
0-10     3.405000
11-18    2.983788
19-25    3.055794
26-35    2.923488
36-46    3.347000
Name: Price, dtype: float64

In [173]:
#use the number in purchase ID to pull the 'total count' for the bins for new dataframe
y = purchase_data.groupby("Age of Player").count()["Purchase ID"]

In [174]:
x = purchase_data.groupby("Age of Player")["Purchase ID"].count()/len(purchase_data)
x

Age of Player
0-10     0.041026
11-18    0.169231
19-25    0.573077
26-35    0.165385
36-46    0.051282
Name: Purchase ID, dtype: float64

In [178]:
x
one=x[0]
two=x[1]
three=x[2]
four=x[3]
five=x[4]

In [191]:
y
yone=y[0]
ytwo=y[1]
ythree=y[2]
yfour=y[3]
yfive=y[4]

In [192]:
y

Age of Player
0-10      32
11-18    132
19-25    447
26-35    129
36-46     40
Name: Purchase ID, dtype: int64

In [182]:
#need to rename index with bins
xy_df=pd.DataFrame({
    "Percent":[(one),(two),(three),(four),(five)],
    "Count of Players":[(yone),(ytwo),(ythree),(yfour),(yfive)]

})
xy_df

    Percent  Count of Players
0  0.041026                32
1  0.169231               132
2  0.573077               447
3  0.165385               129
4  0.051282                40

In [187]:
#create bins from 0-46
bins = [0, 10, 18, 25, 35, 46]

# Create the names for the bins
group_names = ["0-10", "11-18", "19-25", "26-35", "36-46"]

In [190]:
purchase_data["Age of Player"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age of Player
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,19-25
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,36-46
2,2,Ithergue48,24,Male,92,Final Critic,4.88,19-25
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,19-25
4,4,Iskosia90,23,Male,131,Fury,1.44,19-25

In [218]:
#total count=y
y
c0=y[0]
c1=y[1]
c2=y[2]
c3=y[3]
c4=y[4]

In [219]:
#average price per group
avg_price=purchase_data.groupby("Age of Player").mean()["Price"]
avg_price
ap0=avg_price[0]
ap1=avg_price[1]
ap2=avg_price[2]
ap3=avg_price[3]
ap4=avg_price[4]

In [220]:
#total purchase value per group
purchase_value=purchase_data.groupby("Age of Player").sum()["Price"]
purchase_value
pv0=purchase_value[0]
pv1=purchase_value[1]
pv2=purchase_value[2]
pv3=purchase_value[3]
pv4=purchase_value[4]

In [221]:
#avg total per person

avg_per_person=((purchase_value)/(y))
avp0=avg_per_person[0]
avp1=avg_per_person[1]
avp2=avg_per_person[2]
avp3=avg_per_person[3]
avp4=avg_per_person[4]

In [222]:
#need to assign bins as index

xy_df=pd.DataFrame({
    "Purchase Count":[(c0),(c1),(c2),(c3),(c4)],
    "Avg Purchase Price":[(ap0),(ap1),(ap2),(ap3),(ap4)],
    "Total Purchase Value":[(pv0),(pv1),(pv2),(pv3),(pv4)],
    "Avg Total Purchase Per Person":[(avp0),(avp1),(avp2),(avp3),(avp4)]

})
xy_df

,Purchase Count,Avg Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
0,32,3.405000,108.96,3.405000
1,132,2.983788,393.86,2.983788
2,447,3.055794,1365.94,3.055794
3,129,2.923488,377.13,2.923488
4,40,3.347000,133.88,3.347000

In [ ]:
purchase_data.groupby("").sum()